jitsi-conference-mapper
jitsi-plugin
jupyterlab-jitsi
jupyter-videochat
PyLivestream
lib-jitsi-meet
jitsi-meet
__pycache__
*.pyc
python-recurring-ical-events
inspect_jitsi/_version.py
*.egg-info
/build
/dist
.pytest_cache/
